@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300&family=Open+Sans&display=swap');
body{
    background-color: rgb(224, 207, 131);
    font-family: 'Noto Sans Arabic', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.box{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
   margin: 20px 50px;
}